@charset "ISO-8859-1";
.list-data {
  padding: 50px 0 0;
}
.com-inner {
  width: 85.3%;
  margin: 0 auto;
  max-width: 1180px;
}
.list-data .table-header{
  font-size: 20px;
}
.list-data .profile-img{
  max-width: 150px;
}